@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icon/fonts/icomoon.eot?ewvc6');
    src:  url('../../fonts/icon/fonts/icomoon.eot?ewvc6#iefix') format('embedded-opentype'),
      url('../../fonts/icon/fonts/icomoon.ttf?ewvc6') format('truetype'),
      url('../../fonts/icon/fonts/icomoon.woff?ewvc6') format('woff'),
      url('../../fonts/icon/fonts/icomoon.svg?ewvc6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-animation:before {
    content: "\e900";
  }
  .icon-arrow:before {
    content: "\e901";
  }
  .icon-design:before {
    content: "\e902";
  }
  .icon-development:before {
    content: "\e903";
  }
  .icon-mobile:before {
    content: "\e904";
  }
  .icon-product:before {
    content: "\e905";
  }
  .icon-uxui:before {
    content: "\e906";
  }
  