
.maksym{
    background-color: $lightBlue;
}

.container{
    min-height: 360px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
}

.list{
    width: 100%;
    padding-bottom: 80px;

    &__image-th{
        padding-top: 10px;
    }    

    &__item{
      display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
    }
}

.clients{
    font-size: $titleh2;
    color: $blue;
    h2{
        font-weight: 300;
    }
}

// @media screen and (max-width: 768px ) {
//     .list__item{
//        width: 50%;
//     }
// }

// @media screen and (max-width: 768px ) {
//     .list__item{
//        width: 100%;
//     }
// }

